doctype html
html
  head
    title ParqueaMe - La mejor forma de parquear
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/loader.css')
    link(rel='stylesheet', href='/stylesheets/flipclock.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    
    .loader-background
      .scene
        img.car(src='/images/loader/car.svg', alt='')
        img.poof(src='/images/loader/poof.svg', alt='')
        img.sign(src='/images/loader/sign.svg', alt='')

    .navbar-fixed
      nav.transparent
        .nav-wrapper
          a.brand-logo.hide-on-med-and-down(href='#main')
            img(src='/images/logo.png', alt='ParqueaMe')
          a.sidenav-trigger(href='#', data-target='slide-out')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href='#what') ¿Qué es ParqueaMe?
            li
              a(href='#foryou') Para ti
            li
              a(href='#aboutus') Acerca de nosotros
            li
              a(href='#soon') Espéralo
              
    ul#slide-out.sidenav
      li
        a.mobile-logo(href='#main')
          img(src='images/mobile-logo.png')
      .divider
      li
        a(href='#what')
          i.material-icons place
          | ¿Qué es ParqueaMe?
      li
        a(href='#foryou')
          i.material-icons child_care
          | Para ti
      li
        a(href='#aboutus')
          i.material-icons person_pin_circle
          | Acerca de nosotros
      li
        a(href='#soon')
          i.material-icons access_time
          | Espéralo

    #main.parallax-container
      .parallax
        .filter.blue-grey.darken-4
        img(src='/images/traffic.jpg')
        .caption.right-align.hide-on-med-and-down
          h2.white-text.slogan LA MEJOR FORMA DE PARQUEAR
        .mobile-caption.left-align.hide-on-large-only
          h2.white-text.slogan LA MEJOR FORMA DE PARQUEAR
            
    #what.section.white
      //- Este título y subtítulo son visibles, únicamente, cuando se muestra en una tablet o computador
      h3.center-align.teal-text.text-lighten-2.title-section.hide-on-small-only ¿QUÉ ES PARQUEAME?
      p.center-align.subtitle-section.blue-grey-text.hide-on-small-only Una Maravilla
      
      //- Este título y subtítulo son visibles, únicamente, cuando se muestra en un smartphone
      h3.center-align.teal-text.text-lighten-2.title-section.hide-on-med-and-up ¿QUÉ ES?
      p.center-align.subtitle-section.blue-grey-text.hide-on-med-and-up Te Presentamos
      
      .container
        .row
          .col.s12.m12.l6
            p.blue-grey-text.text-lighten-2.what-section
              | ParqueaMe es un aplicativo que busca dar solución a uno de los problemas más molestos que podemos encontrar a la hora de salir a un centro comercial, universidad o establecimiento en general. Este problema consiste en encontrar un lugar disponible donde aparcar.
            p.blue-grey-text.text-lighten-2.what-section.hide-on-small-only
              | Pensado y desarrollado para todo tipo de usuarios, de tal forma que sea intuitivo y rápido, enfocado a un sólo objetivo sin dar tantas vueltas. De igual manera, ParqueaMe se integra con nuestro detector de espacios, un hardware desarrollado integramente para esta funcionalidad.
          .col.s12.m12.l6
            p.center-align.teal-text.text-lighten-2.slogan-section
              i.material-icons format_quote
              br
              | Encuentra un parqueadero fácil y rápido de forma inteligente
            
    #foryou.section.white
      //- Este título y subtítulo son visibles, únicamente, cuando se muestra en una tablet o computador
      h3.center-align.teal-text.text-lighten-2.title-section.hide-on-small-only  ¿QUÉ TE PODÉMOS OFRECER?
      p.center-align.subtitle-section.blue-grey-text.hide-on-small-only  Lo Mejor Para Ti
      
      //- Este título y subtítulo son visibles, únicamente, cuando se muestra en una tablet o computador
      h3.center-align.teal-text.text-lighten-2.title-section.hide-on-med-and-up ¿Y PARA TI?
      p.center-align.subtitle-section.blue-grey-text.hide-on-med-and-up Lo Mejor
      
      .container
        .row
          .col.s12.m12.l6
            img.mockups(src="images/mockups/side1.png")
          .col.s12.m12.l6
            .tips
              i.material-icons.left.teal-text.text-lighten-2 airline_seat_recline_extra
              .benefit
                h5.title.teal-text.text-lighten-2 Evita los nervios
                p.blue-grey-text.text-lighten-2.description
                  | Los usuarios evitarán situaciones estresantes.
            .tips
              i.material-icons.left.teal-text.text-lighten-2 access_alarm
              .benefit
                h5.title.teal-text.text-lighten-2 Maneja tu tiempo
                p.blue-grey-text.text-lighten-2.description
                  | Controlar en tiempo real los espacios de estacionamiento disponibles.
            .tips
              i.material-icons.left.teal-text.text-lighten-2 favorite_border
              .benefit
                h5.title.teal-text.text-lighten-2 Mejora la calidad de vida
                p.blue-grey-text.text-lighten-2.description
                  | Evitar la congestión del tráfico y reducir las emisiones de carbono en la ciudad con efectos positivos en términos de calidad de vida en toda la comunidad.
       
    #aboutus.section.white
      //- Este título y subtítulo son visibles, únicamente, cuando se muestra en una tablet o computador
      h3.center-align.teal-text.text-lighten-2.title-section.hide-on-small-only ACERCA DE NOSOTROS
      //- Este título y subtítulo son visibles, únicamente, cuando se muestra en una tablet o computador
      h3.center-align.teal-text.text-lighten-2.title-section.hide-on-med-and-up NOSOTROS
      
      p.center-align.subtitle-section.blue-grey-text  Somos Un Equipo
      
      .container
        .row
          .col.s12.m12.l4
            .row
              .col.s12.m4.l12.cont
                .background
                  img.circle.image.responsive-img(src='images/cifuentes.jpg')
                  .middleText
                    p.text
                      | Juan Pablo Cifuentes
              .col.s12.offset-m1.m7.l12
                p.center-align.blue-grey-text.text-darken-2
                  | Stakeholder
          .col.s12.m12.l4
            .row
              .col.s12.m4.l12.cont
                .background
                  img.circle.image.responsive-img(src='images/fabio.jpg')
                  .middleText
                    p.text
                      | Fabio Alessandro Gatti
              .col.s12.offset-m1.m7.l12
                p.center-align.blue-grey-text.text-darken-2
                  | Scrum Master, Product Owner, Diseñador y Desarrollador del aplicativo móvil, y Desarrollador del detector de automóviles.
          .col.s12.m12.l4
            .row
              .col.s12.m4.l12.cont
                .background
                  img.circle.image.responsive-img(src='images/ivan.jpg')
                  .middleText
                    p.text
                      | Iván Fernando Ramírez
              .col.s12.offset-m1.m7.l12
                p.center-align.blue-grey-text.text-darken-2
                  | Scrum Developer, Desarrollador de base de datos, Desarrollador del servidor REST Api y la Página web principal.
        
    #soon.section.white
      h3.center-align.teal-text.text-lighten-2.title-section ESPÉRALO
      p.center-align.subtitle-section.blue-grey-text  Sabes que lo quieres
      .container
        .counter
        .row.badges
          img.col.s12.m6.l6(src="images/badges/PlayStore.svg")
          img.col.s12.m6.l6(src="images/badges/AppStore.svg")
                      
    footer.page-footer.blue-grey.darken-4
      .container
        .row
          .col.l6.s12
            h5.white-text ParqueaMe
            p.grey-text.text-lighten-4 Encuentra un parqueadero fácil y rápido de forma inteligente
          .col.l4.offset-l2.s12
            h5.white-text Mantente conectado
            //-a.social-icon(href='#!')
              img(src='/images/social-icons/if_facebook.png', alt='facebook')
            //-a.social-icon(href='#!')
              img(src='/images/social-icons/if_twitter.png', alt='twitter')
            //-a.social-icon(href='#!')
              img(src='/images/social-icons/if_instagram.png', alt='instagram')
            //-a.social-icon(href='#!')
              img(src='/images/social-icons/if_youtube.png', alt='youtube')
            //-a.social-icon(href='#!')
              img(src='/images/social-icons/if_linkedin.png', alt='linkedin')
            a.social-icon(href='https://github.com/ifram333/ParqueaMe-App' target='_blank')
              img(src='/images/social-icons/if_github.png', alt='github')
      .footer-copyright
        .container
          | © 2017 Derechos de autor 
          b ParqueaMe
          | , Todos los derechos reservados.
          
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
    script(type='text/javascript', src='/javascripts/flipclock.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
