doctype html
html
  head
    title ParqueaMe - La mejor forma de parquear
    link(rel='stylesheet', href='/materialize/css/materialize.min.css')
    link(rel='stylesheet', href='/fontawesome/css/all.css')
    link(rel='stylesheet', href='/stylesheets/loader.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='description', content='ParqueaMe App, el futuro de las aplicaciones para encontrar parqueaderos en cualquier establecimiento.')
    meta(name='keywords', content='Aplicativo movil, ParqueaMe, Smart Park, Parking, Aplicativo Inteligente, Parquear Facil, Parquear Inteligente')
    meta(name='author', content='Ivan Ramirez, Fabio Gatti')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body

    .main-section
      nav.transparent
        .nav-wrapper
          img(src='../images/logo.png', alt='ParqueaMe').brand-logo
      .row.container
        .izq.col.s12.m6.l6
          img(src='../images/app-icon.png', alt='Ícono').app-icon
          p.white-text.slogan Encuentra un parqueadero 
           b rápido y fácil
        .der.col.s12.m6.l6.center-align
          img(src='../images/parqueame-portrait.png', alt='Ícono').app-mockup
          
    .what-section
      p.center-align.title-section ¿
        b QUÉ 
        | ES PARQUEAME?
      .row.container
        p.center-align.what-description Es la solución definitiva para encontrar parqueaderos disponibles, integrando nuestro sistema inteligente de detección de automóviles con nuestro aplicativo móvil.
        .col.s12.m6.l3.center-align.what-feature
          img(src='../images/teal-pin.png', alt='Pin').icon
          p Encuentra un parqueadero
        .col.s12.m6.l3.center-align.what-feature
          img(src='../images/car.png', alt='Car').icon
          p Llega a tiempo a tus compromisos
        .col.s12.m6.l3.center-align.what-feature
          img(src='../images/smiley-face.png', alt='Face').icon
          p No pierdas tiempo buscando dónde estacionar
        .col.s12.m6.l3.center-align.what-feature
          img(src='../images/leaf.png', alt='Leaf').icon
          p Disminuye la polución
          
    .func-section
      .row.container.valign-wrapper
        .col.s12.m5.l5
          p.right-align Funciona en parqueaderos con techo
        .col.s12.m2.l2.center-align
          img(src='../images/check.png', alt='Check').icon
        .col.s12.m5.l5
          p.left-align Funciona en parqueaderos sin techo
          
    .how-section
      p.center-align.title-section 
        b CARACTERISTICAS 
        | PRINCIPALES
      .row.container
        .col.s12.m12.l4
          .col.s12.m12.l12.right-align.how-features
            img(src='../images/sync.png', alt='Sync').icon
            p Estado de los parqueaderos en tiempo real
          .col.s12.m12.l12.right-align.how-features
            img(src='../images/brown-pin.png', alt='Pin').icon
            p Detección de estados disponibles y ocupados      
        .col.s12.m12.l4.center-align
          img(src='../images/phone-mockup.png', alt='Phone').phone
        .col.s12.m12.l4
          .col.s12.m12.l12.left-align.how-features
            img(src='../images/mic.png', alt='Mic').icon
            p Busqueda de establecimientos por voz
          .col.s12.m12.l12.left-align.how-features
            img(src='../images/routes.png', alt='Route').icon
            p Ruta desde la posición actual hasta un estacionamiento disponible
      
    .who-section
      .row.container.center-align
        p.center-align.title-section ¿
          b QUIÉNES 
          | SOMOS?
        .col.s12.m4.l4.photo
          img(src='../images/garcia.jpg', alt='Route').circle.responsive-img
          p Juan Pablo Garcia Cifuentes
        .col.s12.m4.l4.photo
          img(src='../images/gatti.jpg', alt='Route').circle.responsive-img
          p Fabio Alessandro Gatti Lerma
        .col.s12.m4.l4.photo
          img(src='../images/ramirez.jpg', alt='Route').circle.responsive-img
          p Iván Fernando Ramírez Sanclemente
    
    footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text ParqueaMe
            p.grey-text.text-lighten-4 Encuentra un parqueadero rápido y fácil de forma inteligente
          .col.l4.offset-l2.s12
            h5.white-text Mantente conectado
            a.social-icon(href='https://github.com/ifram333/ParqueaMe-App' target='_blank')
              i.fab.fa-github.white-text
      .footer-copyright
        .container
          | © 2018 Derechos de autor 
          b ParqueaMe
          | , Todos los derechos reservados.

    script(type='text/javascript', src='/jquery/jquery.min.js')
    script(type='text/javascript', src='/materialize/js/materialize.min.js')
    script(type='text/javascript', src='/scrollreveal/scrollreveal.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
