html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.social-icon {
	margin: 4px;
}

.social-icon img {
	width: 42px;
	height: 42px;
}

.page-footer {
	padding-top: 32px;
}

.page-footer .footer-copyright {
	padding: 24px 0;
}

.navbar-fixed {
	height: 0;
}

nav {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav ul a{
	padding: 0 32px;
}

nav .brand-logo {
	margin: 24px 64px;
}

nav .brand-logo img {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	height: 120px;
	margin: 4px;
}

.transparent {
	box-shadow: none;
}

#collapsable-menu {
	font-size: 32px;
}

.parallax-container {
	height: 100%;
}

.parallax .caption {
	position: absolute;
	width: 50%;
	top: 80%;
	left: 40%;
	z-index: 2;
}

.parallax .mobile-caption {
	position: absolute;
	width: 50%;
	top: 35%;
	left: 3%;
	z-index: 2;
}

.filter {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0.7;
}

#sidenav-overlay {
	z-index: 996;
}

.sidenav .mobile-logo {
	height: 100%;
	margin: 16px 0;
}

.sidenav .material-icons {
	font-size: 3rem;
}

.sidenav .mobile-logo img {
	width: 100%;
}

.sidenav li > a {
	margin: 16px 0;
}

.section {
	padding-top: 4rem;
}

.header {
	padding: 16px 0;
}

#aboutus .background {
	width: 100%;
	height: auto;
	background-color: #263238;
	border-radius: 50%;
	padding: 8px;
}

#aboutus .cont {
		position: relative;
}

#aboutus .image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

#aboutus .middleText {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#aboutus .cont:hover .image {
	opacity: 0.6;
}

#aboutus .cont:hover .middleText {
	opacity: 1;
}

#aboutus .text {
	color: white;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.counter {
	height: auto;
	margin: 5vh auto;
}

@media only screen and (max-width: 599px) {

	#aboutus .text {
		font-size: 10vw;
	}

	.counter 	ul:nth-last-child(-n+2) {
		display: none;
	}

	.counter 	.seconds {
		display: none;
	}

	.counter {
		width: 340px;
	}

	.counter .flip {
		width: 40px;
		height: 65px;
	}

	.counter ul li {
		line-height: 65px;
	}

	.counter ul li a div div.inn {
		font-size: 50px;
	}

	.counter .flip-clock-dot.top {
		top: 20px;
	}

	.counter .flip-clock-dot.bottom {
		bottom: 40px;
	}

	.counter .flip-clock-divider .flip-clock-label {
		right: -65px;
	}

	.counter .flip-clock-divider.minutes .flip-clock-label {
		right: -73px;
	}

}

@media only screen and (min-width: 600px) and (max-width: 993px) {

	#aboutus .text {
		font-size: 3vw;
	}

	.counter {
		width: 508px;
	}

	.counter .flip {
		width: 46px;
		height: 70px;
	}

	.counter ul li {
		line-height: 70px;
	}

	.counter ul li a div div.inn {
		font-size: 60px;
	}

	.counter .flip-clock-dot.top {
		top: 20px;
	}

	.counter .flip-clock-dot.bottom {
		bottom: 40px;
	}

	.counter .flip-clock-divider .flip-clock-label {
		right: -68px;
	}

	.counter .flip-clock-divider.minutes .flip-clock-label {
		right: -73px;
	}

	.counter .flip-clock-divider.seconds .flip-clock-label {
		right: -79px;
	}

}

@media only screen and (min-width: 994px) {

	#aboutus .text {
		font-size: 2vw;
	}

	.counter {
		width: 620px;
	}

}
